body {
    margin: 0%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: orangered;
}

main {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 10rem;
    justify-content: space-around;
    flex-wrap: wrap;
}


.cuadro {
    margin-top: 1.5rem;
    min-width: 20rem;
    height: 5rem;
    width: 100%;

    border: 0.2rem;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;

}

.cuadro p {
    font-size: 3rem;
    line-height: 120%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 0;
}

/* hori
 .cuadro {
    margin-top: 1.5rem;
    min-width: 20rem;
    width: 30%;
    max-height: 20rem;
    border: 0.2rem;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    overflow: scroll;
    overflow-x: hidden;
  
} */

/* hori
 .cuadro p {
    font-size:1.5rem;
    line-height: 120%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 0;
} */


h1 {
    margin-bottom: 0.1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}


/* width */
.cuadro::-webkit-scrollbar {
    width: 1rem;
}


/* Track */
.cuadro::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 20px black;  */
    border-radius: 10px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: black;



}

/* Handle */
.cuadro::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: black;



}

/* Handle on hover */
.cuadro::-webkit-scrollbar-thumb:hover {
    background: orangered;
    border-right: 1.1pt;
    border-top: 2pt;
    border-bottom: 2pt;
    border-left: 2pt;
    border-style: solid;
    border-color: black;

}

/* Tipos */

/* @font-face {
    font-family: 'Govers Free Display';
    src: url('Goversy-Display.ttf');
} */
@font-face {
    font-family: 'build';
    src: local('build'),
        url('fonts/build.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#uno {

    font-family: 'build';

}

@font-face {
    font-family: 'Galgo';
    src: url('fonts/Galgo.ttf');
}

#dos {
    font-family: 'Galgo';

}

@font-face {
    font-family: 'Mostera';
    src: url('fonts/MosteraRegular.otf');
}

#tres {
    font-family: 'Mostera Regular';

}

@font-face {
    font-family: 'Solide Mirage Mono';
    src: url('fonts/SolideMirage-Mono.otf');
}

#cuatro {
    font-family: 'Solide Mirage Mono';

}

@font-face {
    font-family: 'PicNic Regular';
    src: url('fonts/PicNic-Regular.woff');
}

#cinco {
    font-family: 'PicNic Regular';

}

@font-face {
    font-family: 'terminal grotesque';
    src: url('fonts/terminal-grotesque.ttf');

}

#seis {
    font-family: 'terminal grotesque';


}