/* div {

   background-color: aqua;
   font-size: 1.2em;

} */

ul {
   list-style-type: none;
   padding: 0;
   font-size: 2rem;
}
.naveg {
   background-color: rgb(253, 255, 137);
   height: 73vh;

}
.naveg1 {
   background-color: rgb(253, 255, 137);
   height: 100vh;

}.naveg3 {
   background-color: rgb(253, 255, 137);
   height: 93vh;

}
.cont {

   background-color:  aqua;
   font-size: 1.2em;
   height: 73vh;

}
.cont1 {

   background-color: aqua;
   font-size: 1.2em;
   height: 100vh;

}

.pub6 {

   background-color: rgb(199, 255, 203);
   font-size: 1.2em;
   height: 100vh;

}
.pub45 {

   background-color: rgb(199, 255, 203);
   font-size: 1.2em;
   height: 73vh;

}



.header {
   background-color: rgb(255, 214, 137);
   height: 20vh;

}

.food {
   background-color: rgb(255, 137, 196);
   height: 7vh;

}



