body {
    margin: 0%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 165%;
    overflow: overlay;
    background-image: url(img/a-100.jpg);
    background-size: auto 101vh;
    background-repeat: no-repeat;

}








.barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tres {
    width: 15%;
}

.dos {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-radius: 1.5vmax 1.5vmax 0 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(240, 248, 255, 0.9);
}

.uno {
    width: 15%;
}

.dib {
    width: 7%;
}

.cosas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;

}

.dosdos {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: space-around;

}

.unouno {
    width: 50%;


}

.carpeta {
    width: 20%;
    position: relative;
}

a {
    text-decoration: none;

}

.hola {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;

}

.dosdosdos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}












  









h4 {
    text-align: center;
    margin: 4px;
    font-weight: 500;
    color: azure;
    font-size: 2vmin
}

img .vector {
  
    width: 100%;


}


/* .vector {
    display: inline-block;
  }
  
  .vector img {
    height: 250px;
  }
  
  .vector .abi {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  
  .vector:hover .abi {
    display: inline;
  } */




  .vector {
    position: relative;
    display: inline-block;
    width:  100%;
  }
  
  .abiertos img {
    width:  100%;
  }
  
  .vector .cerrada {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  
  .vector:hover .cerrada {
    display: inline;
  }


  .vector:hover .abiertos{
   opacity: 0;
  }

.barrariba {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 1%;


}

.unoarr {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: rgba(240, 248, 255, 0.8);


}

.dosarr {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgba(240, 248, 255, 0.8);


}

h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 4%;
    text-align: center;


}

.loguito {
    width: 2%;
    padding-left: 1%;


}